<header class="header">
  <div class="header-left-panel">
    <ul class="header-left-panel-ul">
      <li>
        <a routerLink="/"
          ><img
            class="netflix-logo"
            src="https://www.freepnglogos.com/uploads/netflix-logo-0.png"
            alt="Logo"
        /></a>
      </li>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/watchlist">My List</a></li>
    </ul>
  </div>
  <div class="header-right-panel">
    <div class="search-icon-container"><i class="fas fa-search"></i></div>
  </div>
</header>

