<section class="section" *ngFor="let movieSection of allMoviesSections">
  <h1 class="genre-name">{{ movieSection.genre }}</h1>

  <div class="movies-container">
    <div class="movies" (fetchGenres)="fetchData()">
      <div class="movie" *ngFor="let movie of movieSection.movies; index as i">
        <img
          (click)="onMovieInfoClick(movie)"
          src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"
          alt="{{ movie.title }}"
        />
      </div>

      <div scrollR class="scroll scroll-right">
        <i class="fas fa-chevron-right"></i>
      </div>

      <div scrollL class="scroll scroll-left">
        <i class="fas fa-chevron-left"></i>
      </div>
    </div>
  </div>
</section>

<app-movie-info
  *ngIf="showMovieInfo"
  [clickedMovie]="clickedMovie"
  (closeMovieInfo)="onMovieInfoClick()"
></app-movie-info>
