<footer *ngIf="endOfPage" class="footer">
  <div class="icons">
    <div><i class="fab fa-facebook-square fa-2x"></i></div>
    <div><i class="fab fa-instagram fa-2x"></i></div>
    <div><i class="fab fa-youtube fa-2x"></i></div>
  </div>

  <div class="footer-links">
    <div class="links-container">
      <p><a href="#">Audio and Subtitles</a></p>
      <p><a href="#">Media Center</a></p>
      <p><a href="#">Privacy</a></p>
      <p><a href="#">Contact Us</a></p>
    </div>

    <div class="links-container">
      <p><a href="#">Audio Description</a></p>
      <p><a href="#">Investor Relations</a></p>
      <p><a href="#">Legal Notices</a></p>
    </div>

    <div class="links-container">
      <p><a href="#">Help Center</a></p>
      <p><a href="#">Jobs</a></p>
      <p><a href="#">Cookie Preferences</a></p>
    </div>

    <div class="links-container">
      <p><a href="#">Gift Cards</a></p>
      <p><a href="#">Terms of Use</a></p>
      <p><a href="#">Corporate Information</a></p>
    </div>
  </div>

  <div class="copyright">
    <div class="footer-btn">
      <button>Service Code</button>
    </div>
    <div>
      <p>&copy 1997-2021 Netflix, Inc.</p>
    </div>
  </div>
</footer>
